body {
    margin: 0;
}

@keyframes side-menu-btn-icon-open-animation {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes side-menu-btn-icon-close-animation {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.side-menu-btn-icon-open-animation-class {
    animation: side-menu-btn-icon-open-animation 0.5s forwards;
}

.side-menu-btn-icon-close-animation-class {
    animation: side-menu-btn-icon-close-animation 0.5s forwards;
}

@keyframes side-menu-items-open-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes side-menu-items-close-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.side-menu-items-open-animation-class {
    animation: side-menu-items-open-animation 0.5s forwards;
}

.side-menu-items-close-animation-class {
    animation: side-menu-items-close-animation 0.5s forwards;
}

@keyframes side-menu-open-animation {
    0% {
        width: 0;
    }
    100% {
        width: 20rem;
    }
}

@keyframes side-menu-close-animation {
    0% {
        width: 20rem;
    }
    100% {
        width: 0;
    }
}

.side-menu-open-animation-class {
    animation: side-menu-open-animation 0.5s forwards;
}

.side-menu-close-animation-class {
    animation: side-menu-close-animation 0.5s forwards;
}

.text-underline {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 2.8125rem;
}
