@keyframes rotate-animation-left {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes rotate-animation-right {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.rotate-animation-left-class {
    animation: rotate-animation-left 0.5s forwards;
}

.rotate-animation-right-class {
    animation: rotate-animation-right 0.5s forwards;
}

@keyframes move-animation-left {
    0% {
        left: 0;
    }
    100% {
        left: -20rem;
    }
}

@keyframes move-animation-right {
    0% {
        left: -20rem;
    }
    100% {
        left: 0;
    }
}

.move-animation-left-class {
    animation: move-animation-left 0.5s forwards;
}

.move-animation-right-class {
    animation: move-animation-right 0.5s forwards;
}
